Weather_Alert.json
[{"id":"e4052970.254ce8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2023e13d.bc7cbe","type":"ui_text_input","z":"e4052970.254ce8","name":"Country input","label":"Country","tooltip":"Enter country name","group":"48e4f6c7.fbd2e8","order":3,"width":"6","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":230,"y":1340,"wires":[["b7b736de.b78378","ffcebc6c.fd682"]]},{"id":"6ddafca6.3d3314","type":"ui_text_input","z":"e4052970.254ce8","name":"City input","label":"City","tooltip":"Enter city name","group":"48e4f6c7.fbd2e8","order":4,"width":"6","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":220,"y":1380,"wires":[["7ca60322.7f2a0c","9704a513.a77c68"]]},{"id":"1bdd82c8.cbf40d","type":"openweathermap","z":"e4052970.254ce8","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":510,"y":1540,"wires":[["cf3fc2c2.10863","7ca6df96.493c3","c9528831.7d2d88","2d64b831.5d20e8","7dbd60d4.8ceed","1eae7b67.d3aa55","f1f7f0bb.c650e","17d10239.aaa5ee","8cae754d.5640f8"]]},{"id":"b7b736de.b78378","type":"change","z":"e4052970.254ce8","name":"","rules":[{"t":"set","p":"country","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1340,"wires":[[]]},{"id":"7ca60322.7f2a0c","type":"change","z":"e4052970.254ce8","name":"","rules":[{"t":"set","p":"city","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1380,"wires":[[]]},{"id":"9e191366.a2cbf","type":"function","z":"e4052970.254ce8","name":"","func":"let coun = global.get(\"country\");\nlet cit = global.get(\"city\");\nreturn{\n    location:{city: cit , country: coun}\n};\n\n/*let lat = (global.get(\"lat\"));\nlet lon = (global.get(\"lon\"));\nreturn{\n    coordinates:{latitude: lat , longitude: lon}\n};*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":1540,"wires":[["1bdd82c8.cbf40d"]]},{"id":"7dbd60d4.8ceed","type":"debug","z":"e4052970.254ce8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":1240,"wires":[]},{"id":"f31ba6fb.ecf0a8","type":"ui_button","z":"e4052970.254ce8","name":"search","group":"48e4f6c7.fbd2e8","order":12,"width":"3","height":"1","passthru":false,"label":"Submit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":70,"y":1520,"wires":[["b1008efc.ad2b9"]]},{"id":"544555e0.7e2f7c","type":"ui_gauge","z":"e4052970.254ce8","name":"Temp","group":"41094fd5.888ef","order":1,"width":"6","height":"5","gtype":"wave","title":"","label":"C","format":"{{value}}","min":"-40","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":1240,"wires":[]},{"id":"17d10239.aaa5ee","type":"function","z":"e4052970.254ce8","name":"","func":"return {value: (msg.payload.tempc) + \"\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":1600,"wires":[["544555e0.7e2f7c","1f3c122a.ee5b7e","dfe6a86c.9f9528"]]},{"id":"cf3fc2c2.10863","type":"function","z":"e4052970.254ce8","name":"","func":"return {value: msg.payload.humidity};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":1660,"wires":[["8dfb07a6.394678","53849ad9.18fe04"]]},{"id":"8dfb07a6.394678","type":"ui_gauge","z":"e4052970.254ce8","name":"Humidity","group":"ee7f9bf9.428938","order":1,"width":"6","height":"4","gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":940,"y":1340,"wires":[]},{"id":"7ca6df96.493c3","type":"function","z":"e4052970.254ce8","name":"","func":"return {value: msg.payload.pressure};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":1720,"wires":[["83c9d5e6.5c1298"]]},{"id":"efd5343c.3b6518","type":"ui_gauge","z":"e4052970.254ce8","name":"pressure","group":"66aa77c5.921618","order":0,"width":"6","height":"5","gtype":"wave","title":"","label":"atm","format":"{{value}}","min":0,"max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1080,"y":1380,"wires":[]},{"id":"c9528831.7d2d88","type":"function","z":"e4052970.254ce8","name":"","func":"return {value: msg.payload.windspeed};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":1780,"wires":[["e7ca00d9.7fb78","e8bb447.8a4c5b8","306eba93.1d9696"]]},{"id":"e7ca00d9.7fb78","type":"ui_gauge","z":"e4052970.254ce8","name":"","group":"dd1c5b9.1453aa8","order":1,"width":"6","height":"5","gtype":"gage","title":"Wind Speed","label":"km/h","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":1560,"wires":[]},{"id":"2d64b831.5d20e8","type":"function","z":"e4052970.254ce8","name":"","func":"return {value: msg.payload.winddirection};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":1840,"wires":[["b8cb946c.ae5a68"]]},{"id":"b8cb946c.ae5a68","type":"ui_gauge","z":"e4052970.254ce8","name":"","group":"dd1c5b9.1453aa8","order":2,"width":"6","height":"5","gtype":"compass","title":"Wind Direction","label":"deg","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":940,"y":1840,"wires":[]},{"id":"f6bc9658.029868","type":"ui_chart","z":"e4052970.254ce8","name":"","group":"1faa05cb.d9d27a","order":2,"width":"6","height":"6","label":"Temperature in one hour","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#eb0f0f","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1190,"y":1180,"wires":[[]]},{"id":"934c87fc.69a2d8","type":"ui_chart","z":"e4052970.254ce8","name":"","group":"1faa05cb.d9d27a","order":2,"width":"6","height":"6","label":"Humidity in one hour","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1fcf07","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1180,"y":1300,"wires":[[]]},{"id":"1abf5b4.f30e4a5","type":"ui_chart","z":"e4052970.254ce8","name":"","group":"1faa05cb.d9d27a","order":3,"width":"6","height":"6","label":"Wind speed in one hour","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ecf005","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1210,"y":1500,"wires":[[]]},{"id":"f9f3dee.790c82","type":"ui_switch","z":"e4052970.254ce8","name":"","label":"Switch","tooltip":"","group":"a4a0c2dc.032a1","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":90,"y":2020,"wires":[["3475a65.11f9d5a"]]},{"id":"3ed2dfc0.0b4df","type":"ui_ui_control","z":"e4052970.254ce8","name":"","events":"all","x":480,"y":2020,"wires":[[]]},{"id":"3475a65.11f9d5a","type":"function","z":"e4052970.254ce8","name":"","func":"if (msg.payload){\n    return {\n        payload: {\"group\":{\"show\":[\"Chart_In_one_hour\"]}}\n        \n    }\n    \n}\nelse{\n    return {\n        payload: {\"group\":{\"hide\":[\"Chart_In_one_hour\"]}}\n        \n    }\n    \n}\n//return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":2020,"wires":[["3ed2dfc0.0b4df"]]},{"id":"b1008efc.ad2b9","type":"trigger","z":"e4052970.254ce8","name":"","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"-5","extend":false,"overrideDelay":true,"units":"s","reset":"cat","bytopic":"all","topic":"topic","outputs":1,"x":180,"y":1600,"wires":[["49519edf.1b48","9e191366.a2cbf","dc628483.2c32b8"]]},{"id":"c6fa4f0e.8483a","type":"ui_button","z":"e4052970.254ce8","name":"Off","group":"48e4f6c7.fbd2e8","order":13,"width":"3","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"cloud_off","payload":"cat","payloadType":"str","topic":"","x":70,"y":1480,"wires":[["b1008efc.ad2b9"]]},{"id":"1f3c122a.ee5b7e","type":"change","z":"e4052970.254ce8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1200,"wires":[["f6bc9658.029868"]]},{"id":"53849ad9.18fe04","type":"change","z":"e4052970.254ce8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":1300,"wires":[["934c87fc.69a2d8"]]},{"id":"e8bb447.8a4c5b8","type":"change","z":"e4052970.254ce8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":1500,"wires":[["1abf5b4.f30e4a5"]]},{"id":"406deca4.ee4974","type":"ui_slider","z":"e4052970.254ce8","d":true,"name":"","label":"Update interval","tooltip":"","group":"184ea631.8c0cfa","order":11,"width":"1","height":"6","passthru":true,"outs":"end","topic":"","min":"30","max":"60","step":"1","x":120,"y":1760,"wires":[["51605efb.680a8"]]},{"id":"51605efb.680a8","type":"function","z":"e4052970.254ce8","name":"","func":"return {delay: (msg.payload)*1000 };","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":1700,"wires":[["b1008efc.ad2b9"]]},{"id":"1eae7b67.d3aa55","type":"function","z":"e4052970.254ce8","name":"","func":"//return {payload: msg.payload.sunrise};\n\nvar unix_timestamp = msg.payload.sunrise;\n// Create a new JavaScript Date object based on the timestamp\n// multiplied by 1000 so that the argument is in milliseconds, not seconds.\nvar date = new Date(unix_timestamp * 1000);\n// Hours part from the timestamp\nvar hours = date.getHours();\n// Minutes part from the timestamp\nvar minutes = \"0\" + date.getMinutes();\n// Seconds part from the timestamp\nvar seconds = \"0\" + date.getSeconds();\n\n// Will display time in 10:30:23 format\nvar formattedTime = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);\n\nreturn {payload: formattedTime}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1920,"wires":[["35a58683.3eba9a"]]},{"id":"f1f7f0bb.c650e","type":"function","z":"e4052970.254ce8","name":"","func":"//return {payload: msg.payload.sunset};\n\nvar unix_timestamp = msg.payload.sunset;\n// Create a new JavaScript Date object based on the timestamp\n// multiplied by 1000 so that the argument is in milliseconds, not seconds.\nvar date = new Date(unix_timestamp * 1000);\n// Hours part from the timestamp\nvar hours = date.getHours();\n// Minutes part from the timestamp\nvar minutes = \"0\" + date.getMinutes();\n// Seconds part from the timestamp\nvar seconds = \"0\" + date.getSeconds();\n\n// Will display time in 10:30:23 format\nvar formattedTime = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);\n\nreturn {payload: formattedTime}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1960,"wires":[["30228c9d.ff9d54"]]},{"id":"35a58683.3eba9a","type":"ui_text","z":"e4052970.254ce8","group":"f9958538.4559f8","order":2,"width":"6","height":"1","name":"","label":"Sunrise","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":1920,"wires":[]},{"id":"30228c9d.ff9d54","type":"ui_text","z":"e4052970.254ce8","group":"f9958538.4559f8","order":3,"width":"6","height":"1","name":"","label":"Sunset","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":1960,"wires":[]},{"id":"12005a01.13d916","type":"ui_dropdown","z":"e4052970.254ce8","name":"","label":"","tooltip":"","place":"Select option","group":"bac30317.fc42","order":8,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Temperature","value":true,"type":"bool"},{"label":"Wind speed","value":false,"type":"bool"}],"payload":"","topic":"","x":980,"y":1640,"wires":[["cf56d134.4082","91fbafd6.9843f"]]},{"id":"e90125e7.f8aec8","type":"ui_slider","z":"e4052970.254ce8","name":"","label":"Temp limit","tooltip":"","group":"bac30317.fc42","order":9,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"20","max":"45","step":1,"x":1000,"y":1740,"wires":[["eb27d170.7ffd4"]]},{"id":"91fbafd6.9843f","type":"function","z":"e4052970.254ce8","name":"","func":"if (msg.payload == true){\n    var limit = global.get(\"payloadtemp\");\n    var temp = global.get(\"tempvalue\");\n    //return {payload: limit}\n    if(temp > limit){\n        return{payload: \"Warning temperature is \"+JSON.stringify(temp)+\"C,\"+\" exceeds the limit by \"+JSON.stringify(temp-limit)+\"C\"}\n    }else{\n        return{payload: \"Safe\"}\n    }\n    //return {payload: temp}\n    \n    /*if((parseInt(global.get(\"tempvalue\"))) > limit ){\n        return {payload: \"Warning, temperature is \"}//+ global.get(\"tempvalue\") + \" exeed by \"+ (limit - (parseInt(global.get(\"tempvalue\"))))}\n    }*/\n}\nelse{\n    let limit = global.get(\"payloadwind\");\n    let wind = global.get(\"windvalue\");\n    if(wind > limit){\n        return{payload: \"Warning wind speed is \"+JSON.stringify(wind)+\"m/s,\"+\" exceeds the limit by \"+JSON.stringify(wind-limit)+\"m/s\"}\n    }else{\n        return{payload: \"Safe\"}\n    }\n    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1540,"y":1400,"wires":[["fa2f26a7.a51c88","85fb6796.3c9338","b20c6db5.075"]]},{"id":"cf56d134.4082","type":"change","z":"e4052970.254ce8","d":true,"name":"","rules":[{"t":"set","p":"1","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"2","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":1640,"wires":[["91fbafd6.9843f"]]},{"id":"6a5a7a5.51b0e84","type":"ui_slider","z":"e4052970.254ce8","name":"","label":"Wind limit","tooltip":"","group":"bac30317.fc42","order":10,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"5","max":10,"step":1,"x":1000,"y":1780,"wires":[["9331a256.5f30c"]]},{"id":"eb27d170.7ffd4","type":"change","z":"e4052970.254ce8","name":"","rules":[{"t":"set","p":"payloadtemp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":1740,"wires":[[]]},{"id":"9331a256.5f30c","type":"change","z":"e4052970.254ce8","name":"","rules":[{"t":"set","p":"payloadwind","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":1780,"wires":[[]]},{"id":"306eba93.1d9696","type":"change","z":"e4052970.254ce8","name":"","rules":[{"t":"set","p":"windvalue","pt":"global","to":"value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1140,"wires":[[]]},{"id":"dfe6a86c.9f9528","type":"change","z":"e4052970.254ce8","name":"","rules":[{"t":"set","p":"tempvalue","pt":"global","to":"value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":1100,"wires":[[]]},{"id":"fa2f26a7.a51c88","type":"debug","z":"e4052970.254ce8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1750,"y":1400,"wires":[]},{"id":"85fb6796.3c9338","type":"ui_toast","z":"e4052970.254ce8","position":"top right","displayTime":"4","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1740,"y":1500,"wires":[]},{"id":"ffcebc6c.fd682","type":"ui_text","z":"e4052970.254ce8","d":true,"group":"184ea631.8c0cfa","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":310,"y":1180,"wires":[]},{"id":"9704a513.a77c68","type":"ui_text","z":"e4052970.254ce8","d":true,"group":"184ea631.8c0cfa","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":150,"y":1180,"wires":[]},{"id":"83c9d5e6.5c1298","type":"function","z":"e4052970.254ce8","name":"","func":"var press = msg.value;\nvar atmPress = press/1000;\nreturn {value: atmPress}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":1440,"wires":[["efd5343c.3b6518"]]},{"id":"38835800.518588","type":"ui_numeric","z":"e4052970.254ce8","name":"","label":"Update intervals(Seconds)","tooltip":"","group":"184ea631.8c0cfa","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"30","max":"60","step":1,"x":180,"y":1840,"wires":[["51605efb.680a8","69418a7a.e52544"]]},{"id":"69418a7a.e52544","type":"debug","z":"e4052970.254ce8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":1860,"wires":[]},{"id":"49519edf.1b48","type":"debug","z":"e4052970.254ce8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":1720,"wires":[]},{"id":"8cae754d.5640f8","type":"function","z":"e4052970.254ce8","name":"","func":"return{payload: (msg.payload.tempc)+ \"\"}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":1280,"wires":[["48b1b24f.99accc","79049ddd.641014"]]},{"id":"48b1b24f.99accc","type":"ui_text","z":"e4052970.254ce8","group":"f9958538.4559f8","order":1,"width":"6","height":"2","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":1000,"wires":[]},{"id":"cdf97982.208118","type":"ui_audio","z":"e4052970.254ce8","name":"","group":"f9958538.4559f8","voice":"Microsoft David Desktop - English (United States)","always":"","x":680,"y":980,"wires":[]},{"id":"b482dc4d.5d2b8","type":"ui_button","z":"e4052970.254ce8","name":"","group":"f9958538.4559f8","order":5,"width":0,"height":0,"passthru":false,"label":"Audio","tooltip":"","color":"","bgcolor":"","icon":"volume_up","payload":"payloadvoice","payloadType":"global","topic":"","x":490,"y":1100,"wires":[["cdf97982.208118"]]},{"id":"79049ddd.641014","type":"change","z":"e4052970.254ce8","name":"","rules":[{"t":"set","p":"payloadvoice","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1160,"wires":[[]]},{"id":"13f93dd.f1703c2","type":"mqtt in","z":"e4052970.254ce8","name":"","topic":"event","qos":"0","datatype":"auto","broker":"37a1e3ca.8ac14c","x":1550,"y":1600,"wires":[["c2e9e9ba.9e3308"]]},{"id":"c2e9e9ba.9e3308","type":"debug","z":"e4052970.254ce8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1930,"y":1600,"wires":[]},{"id":"ea9e5052.a5f98","type":"ui_button","z":"e4052970.254ce8","d":true,"name":"","group":"f79e1a9f.b927c8","order":2,"width":0,"height":0,"passthru":false,"label":"Led on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":1560,"y":1720,"wires":[["f4c6747d.6e6b98","1bcc75a0.ab9b3a"]]},{"id":"20e9d812.1c0218","type":"ui_button","z":"e4052970.254ce8","d":true,"name":"","group":"f79e1a9f.b927c8","order":3,"width":0,"height":0,"passthru":false,"label":"led off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":1560,"y":1820,"wires":[["f4c6747d.6e6b98","1bcc75a0.ab9b3a"]]},{"id":"f4c6747d.6e6b98","type":"mqtt out","z":"e4052970.254ce8","name":"","topic":"event","qos":"0","retain":"","broker":"37a1e3ca.8ac14c","x":2070,"y":1760,"wires":[]},{"id":"1bcc75a0.ab9b3a","type":"debug","z":"e4052970.254ce8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1950,"y":1920,"wires":[]},{"id":"b20c6db5.075","type":"function","z":"e4052970.254ce8","name":"","func":"if(msg.payload != \"Safe\"){\n    return{payload: \"1\"}\n}else /*if(msg.payload == \"0\")*/{\n    return{payload: \"0\"}\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1790,"y":1680,"wires":[["f4c6747d.6e6b98","ac3ff733.a85208"]]},{"id":"ac3ff733.a85208","type":"debug","z":"e4052970.254ce8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2040,"y":1680,"wires":[]},{"id":"ca73384.5453ac8","type":"ui_dropdown","z":"e4052970.254ce8","d":true,"name":"","label":"","tooltip":"","place":"Select option","group":"48e4f6c7.fbd2e8","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"City/Country","value":true,"type":"bool"},{"label":"Cordinates","value":false,"type":"bool"}],"payload":"","topic":"","x":520,"y":2100,"wires":[["d6680287.f8db7"]]},{"id":"d6680287.f8db7","type":"switch","z":"e4052970.254ce8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":2100,"wires":[["4dc6ca6e.6f70e4"],["ddc9a858.b9a698"]]},{"id":"4dc6ca6e.6f70e4","type":"change","z":"e4052970.254ce8","name":"","rules":[{"t":"set","p":"payloadcity","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":2060,"wires":[["37e7eeeb.dfae02"]]},{"id":"ddc9a858.b9a698","type":"change","z":"e4052970.254ce8","name":"","rules":[{"t":"set","p":"payloadcood","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":2120,"wires":[["48f72aed.86f114"]]},{"id":"dc628483.2c32b8","type":"function","z":"e4052970.254ce8","d":true,"name":"","func":"var x = global.get(\"payloadcity\");\nvar y = global.get(\"payloadcood\");\n\nif (x){\n    let coun = global.get(\"country\");\n    let cit = global.get(\"city\");\n    return{\n        location:{city: cit , country: coun}\n    };\n    \n    \n}else{\n    let lat = (global.get(\"lat\"));\n    let lon = (global.get(\"lon\"));\n    return{\n        location:{latitude: parseFloat(lat) , longitude: parseFloat(lon)}\n    };\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1600,"wires":[["1bdd82c8.cbf40d","e294c303.7be92"]]},{"id":"2ad6e398.0ffcec","type":"change","z":"e4052970.254ce8","name":"","rules":[{"t":"set","p":"lat","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1420,"wires":[[]]},{"id":"124e9f65.20d331","type":"change","z":"e4052970.254ce8","name":"","rules":[{"t":"set","p":"lon","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1460,"wires":[[]]},{"id":"e294c303.7be92","type":"debug","z":"e4052970.254ce8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":1640,"wires":[]},{"id":"37e7eeeb.dfae02","type":"debug","z":"e4052970.254ce8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1080,"y":2000,"wires":[]},{"id":"48f72aed.86f114","type":"debug","z":"e4052970.254ce8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":2120,"wires":[]},{"id":"97ab7bda.f337d8","type":"ui_text_input","z":"e4052970.254ce8","d":true,"name":"","label":"lat","tooltip":"","group":"48e4f6c7.fbd2e8","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":210,"y":1420,"wires":[["2ad6e398.0ffcec"]]},{"id":"489e0452.1f928c","type":"ui_text_input","z":"e4052970.254ce8","d":true,"name":"","label":"lon","tooltip":"","group":"48e4f6c7.fbd2e8","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":210,"y":1460,"wires":[["124e9f65.20d331"]]},{"id":"6b16f882.9c6c78","type":"http request","z":"e4052970.254ce8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://radar.io/dashboard/quickstart?project=607fd8314c32a8003a1f51d7&live=false","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":220,"wires":[["d549754c.a28298"]]},{"id":"6d5c9702.cac718","type":"inject","z":"e4052970.254ce8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":200,"wires":[["6b16f882.9c6c78"]]},{"id":"d549754c.a28298","type":"debug","z":"e4052970.254ce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":240,"wires":[]},{"id":"7c3e643c.96cb1c","type":"inject","z":"e4052970.254ce8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"str","x":1870,"y":1800,"wires":[["f4c6747d.6e6b98"]]},{"id":"48e4f6c7.fbd2e8","type":"ui_group","name":"Input City/Country","tab":"bc953417.19ffe8","order":1,"disp":true,"width":"6","collapse":false},{"id":"41094fd5.888ef","type":"ui_group","name":"Temperature","tab":"bc953417.19ffe8","order":4,"disp":true,"width":"6","collapse":false},{"id":"ee7f9bf9.428938","type":"ui_group","name":"Humidity","tab":"bc953417.19ffe8","order":6,"disp":true,"width":"6","collapse":false},{"id":"66aa77c5.921618","type":"ui_group","name":"Pressure","tab":"bc953417.19ffe8","order":8,"disp":true,"width":"6","collapse":false},{"id":"dd1c5b9.1453aa8","type":"ui_group","name":"Wind","tab":"bc953417.19ffe8","order":5,"disp":true,"width":"6","collapse":false},{"id":"1faa05cb.d9d27a","type":"ui_group","name":"In one hour","tab":"b06891f8.0f539","order":7,"disp":true,"width":"6","collapse":false},{"id":"a4a0c2dc.032a1","type":"ui_group","name":"Charts","tab":"1e1eb210.78474e","order":2,"disp":true,"width":"6","collapse":false},{"id":"184ea631.8c0cfa","type":"ui_group","name":"Input methord","tab":"1e1eb210.78474e","order":1,"disp":true,"width":"6","collapse":false},{"id":"f9958538.4559f8","type":"ui_group","name":"Description","tab":"bc953417.19ffe8","order":3,"disp":true,"width":"6","collapse":false},{"id":"bac30317.fc42","type":"ui_group","name":"Warning Limitts","tab":"bc953417.19ffe8","order":2,"disp":true,"width":"6","collapse":false},{"id":"37a1e3ca.8ac14c","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f79e1a9f.b927c8","type":"ui_group","name":"Longitude and Latitude","tab":"14bf3c19.1a8cb4","order":2,"disp":true,"width":"6","collapse":false},{"id":"bc953417.19ffe8","type":"ui_tab","name":"Weather","icon":"dashboard","disabled":false,"hidden":false},{"id":"b06891f8.0f539","type":"ui_tab","name":"Chart","icon":"dashboard","disabled":false,"hidden":false},{"id":"1e1eb210.78474e","type":"ui_tab","name":"Settings","icon":"dashboard","disabled":false,"hidden":false},{"id":"14bf3c19.1a8cb4","type":"ui_tab","name":"Weather update","icon":"dashboard","disabled":false,"hidden":false}]